{% extends 'static/base.twig' %}

{% block content %}
    <h1>Member Login</h1>
        <form action="household" method="POST" name="household_create">
            <ul>
                <li><input type="text" name="Houshold" placeholder="Username" />
                <li><button type="submit" name="submit" class="action blue submit">
                        <span class="label">Sign In</span>
                    </button>
            </ul>
        </form>
{% endblock content %}