{% extends 'static/base.twig' %}

{% block content %}

{#----------------------------------------------------------------------------#}
{#----------------------------------------------------------------------------#}
{# HOT OFFER SECTION #}
{#----------------------------------------------------------------------------#}
{#----------------------------------------------------------------------------#}

<h1>HELLO WORLD</h1>

{% endblock content %}