{% block viewInfo %}

<fieldset class ="info">
        <legend><h1>Info.</h1></legend>
        <h3>Household ID: </h3><p>9114234</p><br />
        <h3>Date of birth: </h3><p>March 24 1987</p><br />
        <h3>Age: </h3><p>22</p><br />
        <h3>Gender: </h3><p>Male</p><br />
        <h3>Household Principle Member:</h3>

        <p>Steve Gourgue</p><br />



</fieldset>

{% endblock viewInfo %}
