{# Early implementation of help Popover #}
{% macro popover(msg) %}
    <div class="popover top help">
        <div class="arrow"></div>
        <h3 class="popover-title">Help</h3>
        <div class="popover-content">
          <p>{{ msg }}</p>
        </div>
    </div>
{% endmacro %}