{% block viewNote %}
<fieldset class ="notes">
            <legend><h1>Notes</h1></legend>
            <textarea rows="4" disabled="true" />Household master drinks too many energy drinks, potential sudden death possible. Dependant Bobbert buys overpriced flowers. Dependant Charlie listens to weird asian music. Dependant Michel is named Michel. Dependant Saudi is not actually from Saudi Arabia. </textarea>
</fieldset>}
{% endblock viewNote %}