{% block viewRegis %}
<fieldset class="regis2"> 
        <legend><h1> Registration </h1></legend>
   
        <div style = "pers" >
            <h3>Personal Information</h3>
            <ul>

                <li><input type="view" name="first_na   me" placeholder="Bobbert" disabled="true" />
                <li><input type="view" name="last_name" placeholder="Soma Yit" disabled="true" />
                <li><input type="view" name="work_status" placeholder="Part Time" disabled="true" />
                <li><input type="view" name="welfare_number" placeholder="90464421" />
                <li><input type="view" name="phone_number" placeholder="5141009999" disabled="true" />
                <li><input type="view" name="medicare_num" placeholder="SOMM24039006" disabled="true" />
                <li><input type="view" name="referal" placeholder="Friend" />

                <br />

                <li><input type="view" name="marital" placeholder="Divorced" disabled="true" />
                <br />
                <li><input type="view" name="origin" placeholder="Cambodia" disabled="true" />

                <br />

			</ul>
		</div>
        <div class="address2">
		<h3>Address</h3>
			<ul>
				<li><input type="view" name="address" placeholder="100 Zoo" disabled="true" />
				<li><input type="view" name="apt" disabled="true" />
				<li><input type="view" name="city" placeholder="Pierrefonds" disabled="true" />
				<li><input type="view" name="province" placeholder="Quebec" disabled="true" />
				<li><input type="view" name="postal" placeholder="H1H1H1" disabled="true" />
			</ul>
            
        </div>
        
</fieldset>
    {% endblock viewRegis %}