{% block viewNote %}
<fieldset class ="notes">
            <legend><h1>Notes</h1></legend>
            <textarea rows="4">Please type your note in here... </textarea>
            <button class="action blue submit">
            	<span class="label">Post</span>			
            </button>
</fieldset>}
{% endblock viewNote %}