/* General style for everything */

div#modal-search
{
    width: 94%;
}

div#login-well
{
    position: absolute;
    top: 20%;
    z-index: 2;
    background-color: rgba(10, 10, 10, 0.5);
    border-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

div#login-well input
{
    height: 3em;
    padding: 3px 5px;
    background-color: rgba(255, 255, 255, 0.8);
}

.fade
{
    opacity: 0;
    -webkit-transition: opacity .01s linear;
    -moz-transition: opacity .01s linear;
    -ms-transition: opacity .01s linear;
    -o-transition: opacity .01s linear;
    transition: opacity .01s linear;
}

div#dependents-well
{
    max-width: 340px;
    padding: 8px 0;
}

/*Overwrite boostrap default modal sliding animation*/
.modal.fade.out
{

}

/* Appointment modal width increase */
div#appointment-modal
{
    width: 960px;
    margin-left: -480px;
}

div#appointment-modal .carousel,
div#appointment-modal .table
{
    margin-bottom: 0px;
}

div#manage-flag-modal
{
    width: 400px;
    margin-left: -200px;
}
