{% block viewInfo %}

<fieldset class ="info">
        <legend><h1>Info.</h1></legend>
        <h3>Household ID: </h3><p>9114234</p><br />
        <h3>Date of birth: </h3><p>September 3rd 1987</p><br />
        <h3>Age: </h3><p>25</p><br />
        <h3>Gender: </h3><p>Male</p><br />
        <h3>Dependants:</h3>
        <div class="memberList">
        <p>Bobbert</p><br /><p>Charlie</p><br /><p>Michel</p><br /><p>Saudi</p>


        </div>
        <form action="member/new" method="GET" name="member_create">
                <input type="hidden" name="household_id" placeholder="Household Id" value="{{household["household_id"]}}"/>
                <button class="action blue submit">
                    <span class="label">Add Member</span>
                </button> 
        </form>
</fieldset>

{% endblock viewInfo %}
