{% block viewInfo %}

<fieldset class ="info">
        <legend><h1>Info.</h1></legend>
        <h3>Household ID: </h3><p>9114234</p><br />
        <h3>Date of birth: </h3><p>September 3rd 1987</p><br />
        <h3>Age: </h3><p>25</p><br />
        <h3>Gender: </h3><p>Male</p><br />
        <h3>Dependants:</h3>
        <div class="memberList">
        <p>Bobbert</p><br /><p>Charlie</p><br /><p>Michel</p><br /><p>Saudi</p>

 
        </div>
        <button class="action blue submit pos">
        	<span class="label">Add Member</span>
        </button>
</fieldset>

{% endblock viewInfo %}