{% block appointment_fulfillment_modal %}
    <div id="appointment-fulfillment-modal"
         class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">

        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icon-remove"></i></button>
            <h3>Appointment Fulfillment</h3>
        </div>

        <div class="modal-body">
              <table class="table">
              
              <thead>
            
                  <th>Participant</th>
                  <th>Attendence</th>
         
              </thead>
              <tbody>
                <tr>
                  <td>Mike</td>
                </tr>
                <tr>
                  <td>Wais</td>
                </tr>
                <tr>
                  <td>Quang</td>

                </tr>
              </tbody>
            </table>
        </div>        

        <div class="modal-footer">
            <button id="new-date-create" class="btn btn-success"><i class="icon-ok icon-white">
                </i> Save Date
                </button>
        </div>
    <script type="text/javascript">
        $('#dp3,#dp4').datepicker();
        $('#tp2').timepicker({showMeridian: false});
    </script>
    </div>
{% endblock appointment_fulfillment_modal %}

