{% extends 'static/base.twig' %}
    {% block content %}
        <h1>{{participants[0].lastName}}</h1><br />
        <h1>{{participants[1].lastName}}</h1><br />
        <h1>{{participants[2].lastName}}</h1><br />
        <h1>{{participants[3].lastName}}</h1><br />
        

    {% endblock content %}
                                    