{% extends 'static/base.twig' %}

    {% block content %}

         <h2>List Of Events Occuring Today</h2>

            <table class="table table-hover">
                <thread>
                    <tr>
                        <th>Event Name</th>
                        <th>Status</th>
                        <th>Start Time</th>
                    </tr>
                </thread>
                <tobody>
                    <tr>
                        <td>
                            <button class="btn btn-large btn-block btn-primary" type="button" class="btn btn-info" id="activate-event">
                            Event x
                            </button>
                        </td>
                        
                       <td>Event status x</td>
                        <td>Time x</td>
                    </tr>
                     <tr>
                        <td>
                            <button class="btn btn-large btn-block btn-primary" type="button" class="btn btn-info" id="activate-event">
                            Event y
                            </button>
                        </td>   
                        
                       <td>Event status y</td>
                        <td>Time y</td>
                    </tr>
                </tobody>

            </table>
            
    {% endblock content %}
