{% extends 'static/base.twig' %}

    {% block content %}

         <h2>List Of Events Occuring Today</h2>

            <table class="table table-hover">
                <!-- {% for event in todayEvents %} -->
                <thread>
                    <tr>
                        <th>Participant Name</th>
                        <th>Age</th>
                        <th>Gender</th>
                        <th>Checked In</th>
                    </tr>
                </thread>
                <tobody>
                    <tr>
                        <td>Name x</td>
                        <td>Age x</td>
                        <td>Gender x</td>
                        <td>YES</td>
                    </tr>
                     <tr>
                        <td>Name y</td>   
                        <td>Age y</td>
                        <td>Gender y</td>
                        <td>YES</td>
                    </tr>
                </tobody>
                <!-- {% endfor %}      -->
            </table>


            
    {% endblock content %}
