{% block create_event_part_twig %}
    <fieldset>
        <div class="controls controls-row" id="name-row">
            <input class="span10" type="text" name="event-name" placeholder="Event name" value="{{ event["name"] }}"/>
           
            <input class="span2" type="text" name="event-capacity" maxlength="12" placeholder="Capacity" value="{{ event["capacity"] }}"/>

            <div class="control">
                        {#<div class="alert">#}
                            <textarea style="resize:none" class="span12" rows="4" name="description" placeholder="Description...">{{ event["description"] }}</textarea>
                        {#</div>#}
            </div>

        </div>
    </fieldset>
{% endblock create_event_part_twig %}