{% block create_event_part_twig %}
    <fieldset>
        <div class="controls controls-row" id="name-row">
            <input class="span5" type="text" name="Event name" placeholder="Event name" value="{{ event["name"] }}"/>
           
            <input class="span3" type="text" name="phone-number" maxlength="12" placeholder="Type" value="{{ event["type"] }}"/>

        </div>
    </fieldset>
{% endblock create_event_part_twig %}