{% block create_event_date_part_twig %}
    <fieldset>
    	<legend>Date,Time and Occurrence</legend>
        <div class="controls controls-row" id="name-row">
            <input class="span3" id="dp1" type="text" name="start-date" maxlength="10" placeholder="Start Date" value="{{ event.date }}"/>
            {% if event is null %}
                <input class="span3" id="dp2" type="text" name="end-date" maxlength="10" placeholder="End Date" />
            {% endif %}
    	    <div class="input-append bootstrap-timepicker" style="margin-left: 10px;">
                <input class="span4 time-add-on" style="margin-left:15px" type="text" id="tp1" name="start-time" placeholder="Start Time" value="{{ event["start-time"] }}"/>
                <span class="add-on"><i class="icon-time"></i></span>
            </div>
        </div>
        {% if event is null %}
            <div id="event-occurrence" class="btn-group" data-toggle="buttons-radio" style="margin-bottom: 10px;">
                <button type="button" class="btn btn-primary" data-value="daily">Daily</button>
                <button type="button" class="btn btn-primary" data-value="weekly">Weekly</button>
                <button type="button" class="btn btn-primary" data-value="biweekly">Biweekly</button>
                <button type="button" class="btn btn-primary" data-value="monthly">Monthly</button>
                <button type="button" class="btn btn-primary" data-value="bimonthly">Bimonthly</button>
                <button type="button" class="btn btn-primary" data-value="yearly">Yearly</button>
            </div>
        {% endif %}


		<script type="text/javascript">
			$('#dp1,#dp2').datepicker();
			$('#tp1').timepicker({showMeridian: false});
		</script>
        
    </fieldset>

{% endblock create_event_date_part_twig %}