{% block create_event_date_part_twig %}
    <fieldset>
    	<legend>Date and Time</legend>
        <div class="controls controls-row" id="name-row">
            <input class="span4" id="dp1" type="text" name="start-date" maxlength="8" placeholder="Start Date" value="{{ event.date }}"/>
            {% if event is null %}
                <input class="span4" id="dp2" type="text" name="end-date" maxlength="8" placeholder="End Date" />
            {% endif %}
			
        </div>
		<div class="input-append bootstrap-timepicker">
			<input class="span5" type="text" id="tp1" name="start-time" placeholder="Start Time" value="{{ event["start-time"] }}"/>
			<span class="add-on"><i class="icon-time"></i></span>

		</div>
		<script type="text/javascript">
			$('#dp1,#dp2').datepicker();
			$('#tp1').timepicker();
		</script>
        
    </fieldset>

{% endblock create_event_date_part_twig %}