

{% extends 'static/base.twig' %}

{% block content %}


    {% for error in errors %}
        {% block error %}
            <div id="error">{{ error }}</div></br>
        {% endblock %}
    {% endfor %}
<div class="main">
   
	{% include 'static/viewRegis.twig' %}
    {% include 'static/viewInfo.twig' %}
	{% include 'static/viewNote.twig' %}
</div>
{% endblock content %}