{% extends 'static/base.twig' %}

{% block content %}
    <form action="household_create" method="POST" name="household-create">
        <fieldset>
            <legend>Create Member</legend>
            <div class="controls controls-row" id="name-row">
                <input class="span5" type="text" name="first-name"
                       placeholder="First Name"/>
                <input class="span4" type="text" name="last-name"
                       placeholder="Last Name"/>
                <input class="span3" type="text" name="phone-number"
                       placeholder="Phone Number"/>
            </div>
        </fieldset>
        <fieldset>
            <legend>Information</legend>
            <div class="controls controls-row">
                <input class="span3" maxlength="{{ 3 * 3 + 2 }}" type="text"
                       name="sin-number" placeholder="Social Insurance"/>
                <input class="span4" maxlength="{{ 3 * 4 + 2 }}" type="text"
                       name="mcare-number" placeholder="Medical Care"/>
                <input class="span1" type="text" name="work_status"
                       placeholder="Work Status" maxlength="2" />
                <input class="span4" maxlength="{{ 3 * 4 + 2 + 3 }}"
                       type="text" name="welfare-number" placeholder="Welfare Number"/>
            </div>

            <div class="controls controls-row">
                <input class="span5" type="text"
                       name="origin" placeholder="Origin"/>
                <input class="span4" type="text"
                       name="language" placeholder="Language"/>
                <input class="span3" maxlength="2" type="text"
                       name="work-status" placeholder="Work Status"/>
            </div>

            <div class="controls controls-row">
                <input class="span4" type="text"
                       name="referral" placeholder="Referral"/>
                <input class="span5" type="text"
                       name="contact" placeholder="Contact"/>
                <input class="span3" type="text"
                       name="first-visit-date" placeholder="MM-DD-YY"/>
            </div>
        </fieldset>

        <fieldset>
            <legend>Address</legend>
            <div class="controls controls-row">
                <input class="span2" type="text" maxlength="8"
                       name="house-number" placeholder="Number"/>
                <input class="span7" type="text"
                       name="street" placeholder="Street"/>
                <input class="span3" type="text" maxlength="8"
                       name="apt-number" placeholder="Apartment"/>
            </div>

            <div class="controls controls-row">
                <input class="span4" type="text" disabled
                       name="city" placeholder="City" value="Montreal"/>
                <input class="span3" type="text" disabled
                       name="province" placeholder="Province" value="QC"/>
                <input class="span5" type="text" maxlength="7"
                       name="postal-code" placeholder="Postal Code"/>
            </div>
        </fieldset>

        <legend>Action</legend>
        <div class="btn-toolbar">
            <button class="btn btn-success btn-large" id="create-member-submit-btn"
                    name="create-member-submit-btn" type="button"
                    data-toggle="modal" data-target="#confirm-member-before-saving-modal">
                <i class="icon-plus icon-white"></i> Create

            </button>
            <button class="btn btn-danger btn-large"
                    name="abandon-create-member-btn"
                    type="button"><i class="icon-remove
                            icon-white"></i> Abandon</button>
        </div>

        <div id="confirm-member-before-saving-modal"
             class="modal hide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel">FNAME, LNAME</h3>
            </div>

            <div class="modal-body">
                <p>Member Information Here (optional...)</p>
            </div>

            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                <button class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </form>

{% endblock content %}