{% extends 'static/base.twig' %}

{% block content %}


    {% for error in errors %}
        {% block error %}
            <div id="error">{{ error }}</div></br>
        {% endblock %}
    {% endfor %}


    <form action="household_create" method="POST" name="household_create">
        <fieldset>
            <legend>Personal Information</legend>
            <div class="row-fluid">
                <div class="span6">
                    <label>First Name</label>
                    <input class="span10" type="text" name="first_name"
                           placeholder="First Name" />
                </div>
                <div class="span6">
                    <label>Last Name</label>
                    <input class="span12" type="text" name="last_name"
                           placeholder="Last Name" />
                </div>
            </div>

            <div class="row-fluid">

                <div class="span6">
                    <label>Social Insurance Number</label>
                    <input class="span3" maxlength="3" type="text"
                           name="sin-1"/>
                    <input class="span3" maxlength="3" type="text"
                           name="sin-2"/>
                    <input class="span3" maxlength="3" type="text"
                           name="sin-3"/>
                </div>

                <div class="span6">
                    <label>Medical Care Number</label>
                    <input class="span4" maxlength="4"
                           size="4" name="mcare-1" type="text"/>
                    <input class="span4" maxlength="4" size="4"
                           name="mcare-2" type="text"/>
                    <input class="span4" maxlength="4" size="4"
                           name="mcare-3" type="text"/>
                </div>
            </div>

            <div class="row-fluid">
                <div class="span4">
                    <label>Work Status</label>
                    <input class="span10" type="text" name="work_status"
                           placeholder="Work Status" maxlength="2" />
                </div>

                <div class="span8">
                    <label>Welfare Number</label>
                    <input class="span3" maxlength="4" name="welfare-1"
                           type="text"/>
                    <input class="span3" maxlength="4" name="welfare-2"
                           type="text"/>
                    <input class="span3" maxlength="4" name="welfare-3"
                           type="text"/>
                    <input class="span3"  maxlength="4" name="welfare-4"
                           type="text"/>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span4">
                    <label>Origin</label>
                    <input class="span10" type="text" name="origin"
                           placeholder="Origin" />
                </div>

                <div class="span4">
                    <label>Language Spoken</label>
                    <input class="span10" type="text" name="language"
                           placeholder="Main Language" />
                </div>

                <div class="span4">
                    <label>Marital Status</label>
                    <input class="span12" type="text" name="marital_status"
                           placeholder="Marital Status" maxlength="2" />
                </div>
            </div>


            <div class="row-fluid">
                <div class="span4">
                    <label>Referral</label>
                    <input class="span11" name="referral"
                           placeholder="Referral" type="text" />
                </div>

                <div class="span4">
                    <label>Contact</label>
                    <input class="span11" name="contact" placeholder="Contact"
                           type="text" />

                </div>
            </div>


                            {#<li><input name="phone-1" maxlength="3" size="3"#}
                                       {#type="text"/></li>#}
                            {#<li><input name="phone-2" maxlength="3" size="3"#}
                                       {#type="text"/></li>#}
                            {#<li><input name="phone-3" maxlength="3" size="3"#}
                                       {#type="text"/></li>#}

        <fieldset>
            <legend>Address</legend>
            <div class="row-fluid">
                <div class="span2">
                    <label>Number</label>
                    <input class="span10" name="house_number" placeholder="#"
                           type="text" />
                </div>

                <div class="span6">
                    <label>Street</label>
                    <input class="span11" name="street" placeholder="Street"
                           type="text" />
                </div>

                <div class="span4">
                    <label>Apartment</label>
                    <input class="span12" name="apt_number"
                           placeholder="Apartment Number" type="text" />
                </div>
            </div>

            <div class="row-fluid">
                <div class="span5">
                    <label>City</label>
                    <input class="span10" name="city" placeholder="City"
                           type="text" />
                </div>

                <div class="span3">
                    <label>Province</label>
                    <input class="span10" name="province"
                           placeholder="Province"
                           maxlength="2" type="text" />
                </div>

                <div class="span4">
                    <label>Postal Code</label>
                    <input class="span5" name="postal-code-1" maxlength="3"
                           type="text"/>
                    <input class="span5" name="postal-code-2" maxlength="3"
                           type="text"/>
                </div>
            </div>
        </fieldset>
    </form>

{% endblock content %}