{% block create_event_info_part_twig %}
    <fieldset>
    	<legend>Description</legend>
        <div class="control">
                        {#<div class="alert">#}
                            <textarea class="span12" rows="4" name="description" placeholder="Description..."></textarea>
                        {#</div>#}
                    </div>

    </fieldset>
{% endblock create_event_info_part_twig %}