{% block create_event_info_part_twig %}
    <fieldset>
        {% if event is null %}
        	<legend>Event Occurencies</legend>

        	<div id="event-occurrence" class="btn-group" data-toggle="buttons-radio">
                <button type="button" class="btn btn-primary" data-value="daily">Daily</button>
                <button type="button" class="btn btn-primary" data-value="weekly">Weekly</button>
                <button type="button" class="btn btn-primary" data-value="biweekly">Biweekly</button>
                <button type="button" class="btn btn-primary" data-value="monthly">Monthly</button>
                <button type="button" class="btn btn-primary" data-value="bimonthly">Bimonthly</button>
                <button type="button" class="btn btn-primary" data-value="yearly">Yearly</button>
            </div>
        {% endif %}

    </fieldset>
{% endblock create_event_info_part_twig %}