{% block modal_group %}
    <div class="container-fluid">
        <div class="row-fluid">


            {# NAVBAR MODAL GROUP #}
            {# COMPONENTS HERE WILL PERSIST IN THE ENTIRE #}
            {# USER SESSION. PLACE THEM HERE WITH CARE. #}
            {% include 'addhousehold.modal.twig' %}



        </div>
    </div>


{% endblock modal_group %}